* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
  font-family:initial;
  font-size: x-large;
  padding: 20px;
  background-color: #AFB1B6;
  }

  header {
    background-color: #4a4a4a;
    padding: 20px;
    align-items: center;
    display:flex;
    margin-top: -19px;
    justify-content: space-between;
    flex-direction: column;
  }
h1, h2 {
    font-family: initial;
    color: #FFFFFF;
    margin-top: auto;
    letter-spacing: 2px;
}
h3 {
    font-family: Arial;
    color: #000000;
    margin-top: auto;
    letter-spacing: 2px;
}

p{
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: medium;
}

a:hover{
    color:navy;
}

a {
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #000000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}
nav a{
    margin:60px;
}

h1, h2, h3 {
    font-size:x-large;
  }

footer {
    background-color:#FFFFFF ;
    text-align: center;
    padding: 15px;
}

#button1{
  margin-top: 250px;
  margin-left: 30px;
 background-color: #48D0C7;
 border: solid medium black;
 border-radius: 50px;
 padding: 15px;
 font-size: 1.5em;}

#button2{
  margin-top: 250px;
  margin-right: 30px;
 background-color: #48D0C7;
 border: solid medium black;
 border-radius: 50px;
 padding: 15px;
 font-size: 1.5em;}

 
#box1 { 
    margin-left: 100px;
    float: left;
    background-color: #FFFFFF ;
    border: solid medium black;
    border-radius: 35px;
    width: 300px; 
    height: 320px;
    line-height: 0.9em;}

/*Code Attribution
This method was taken from StackOverflow
https://stackoverflow.com/questions/18460642/increase-spacing-vertically-between-two-lines
Author
https://stackoverflow.com/users/2547064/divya-bhaloidiya
*/
#box2{
    line-height: 1em;
    margin-right: 160px;
    float: right;
    text-align: center;
    background-color: #FFFFFF ;
    border: solid medium black;
    border-radius: 35px;
    width: 300px; 
    height: 300px;
    }

    
#Spn1 {
  margin-left: 155px;
  font-size: 4em ;
  color: rgb(255, 255, 255) ;}

#Spn2 {
    margin-right: 155px;
    float: right;
  font-size: 4em ;
  color: rgb(255, 255, 255) ;}

  .Button{
    background-color: #48D0C7;
    border: solid medium black;
    border-radius: 25px;
    font-size: 2em;
    margin-top: -10px;
    width: 60%;
    height: 80px;
    text-align: center;
    }

select{text-align: center; 
    background-color: #48D0C7;
    border: solid medium black;
    border-radius: 25px;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    height: 80px
    
  }

#course{
    background-color: #ffffff;
    height: 20px;
    font-size:small;
  }

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
